/* .header {
  position: fixed;
  background-color: #3e3e3e;
  color: white;
  width: 100%;
  left: 0;
  top: 0;
}

.navbar-list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  padding: 15px;
  text-decoration: none;
}

.navbar-item:hover {
  cursor: pointer;
  background-color: #303030;
  color: #909090;
}

.theme-toggle {
    padding: 15px;
}

.logo:hover {
    cursor:pointer;
    background-color: #3e3e3e;
    color: white;
}

.link-padding {
  padding: 15px;
} */

.nav-hover:hover{
  background-color: var(--hover-background-color);
}

img.website-logo {
  width: auto;
  height: 40px;
}

img.dark {
  filter: invert(76%) sepia(0%) saturate(1022%) hue-rotate(248deg) brightness(84%) contrast(81%);
}

#darkmode{
  display: flex;
  justify-content: center;
}

#darkmode .dark {
  background-color: #292c35;
}
#darkmode .checkbox {
  opacity: 0;
  position: absolute;
}

#darkmode .label {
  width: 50px;
  height: 24px;
  background-color:#111;
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
  cursor: pointer;
}

#darkmode .ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

#darkmode .checkbox:checked + .label .ball{
  transform: translateX(24px);
}

.active{
  background-color: var(--hover-background-color) !important;
}
