/* .technologiesContainer{
  align-items: space-between;
  margin: 40px;
}

.technologiesSubContainer {
  display: flex;
  align-items: space-between;
  gap: 5rem;
  margin-left: 7%;
  flex-wrap: wrap;
} */
.card-img {
  max-height: 150px;
  min-height: 150px;
}