/* .certificatesContainer{
  align-items: space-between;
  margin: 40px;
  padding-bottom: 40px;
}

.certificatesSubContainer {
  display: flex;
  align-items: space-between;
  gap: 5rem;
  margin-left: 7%;
  flex-wrap: wrap;
}

.certificateCard:hover {
  cursor: pointer;
  background-color: #303030;
} */