/* .Avatar {
  border: solid 10px;
  border-radius: 156.5px;
  min-width: 250px;
  min-height: 300px;
  padding: 60px;
  color: white;
  margin-top: 20px;
} */

/* .Container {
  display: flex;
  align-items: space-between;
  margin: 40px;
} */

/* .subContainer {
  padding: 20px;
  margin-left: 70px;
  margin-top: 30px;
} */

.descriptionContent {
  font-size: x-large;
  padding: 20px;
  font-family: 'Inter';
  font-weight: bold;
}

.portfolioButton {
  display: flex;
  justify-content: center;
}
