.Avatar {
  border: solid 10px;
  border-radius: 156.5px;
  min-width: 250px;
  min-height: 300px;
  padding: 60px;
  color: white;
  margin-top: 20px;
}

.Container {
  display: flex;
  align-items: space-between;
  margin: 40px;
}

.subContainer {
  padding: 20px;
  margin-left: 70px;
  margin-top: 30px;
}

.descriptionContent {
  justify-content: center;
  font-size: xx-large;
  color: white;
  padding: 20px;
  padding-bottom: 40px;
  font-family: 'Inter';
  font-weight: bold;
}

.portfolioButton {
  display: flex;
  justify-content: center;
  margin-right: 170px;
}
