/* :root {
  background-color: #625C5C;
  max-width: 100%;
}

a {
  all: unset;
} */

/* .App{
  background-color: #303030;
} */

h2 {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.pointerHover:hover {
  cursor: pointer;
}