
:root {
  background-color: #303030;
  color: #ffffff;
  padding-bottom: 100px;
  margin-top: 5%;
}

/* .App{
  background-color: #303030;
} */

.custom-bg-dark {
  background-color: #303030;
}

.pointerHover:Hover {
  background-color: #696969 !important;
}